PathRWData = "{{.zkevm_path_rw_data}}/"
L1URL="{{.l1_rpc_url}}"
L2URL="http://{{.l2_rpc_name}}{{.deployment_suffix}}:{{.zkevm_rpc_http_port}}"
AggLayerURL="{{.agglayer_grpc_url}}"

NetworkID = {{.zkevm_rollup_id}}

SequencerPrivateKeyPath = "{{or .zkevm_l2_sequencer_keystore_file "/etc/cdk/sequencer.keystore"}}"
SequencerPrivateKeyPassword  = "{{.zkevm_l2_keystore_password}}"

polygonBridgeAddr = "{{.zkevm_bridge_address}}" 

# This values can be override directly from genesis.json
rollupCreationBlockNumber = "{{.zkevm_rollup_manager_block_number}}"
rollupManagerCreationBlockNumber = "{{.zkevm_rollup_manager_block_number}}"
genesisBlockNumber = "{{.zkevm_rollup_manager_block_number}}"
[L1Config]
	URL = "{{.l1_rpc_url}}"
	chainId = "{{.l1_chain_id}}"
	polygonZkEVMGlobalExitRootAddress = "{{.zkevm_global_exit_root_address}}"
	polygonRollupManagerAddress = "{{.zkevm_rollup_manager_address}}"
	polTokenAddress = "{{.pol_token_address}}"
	polygonZkEVMAddress = "{{.zkevm_rollup_address}}"
	
[L2Config]
	GlobalExitRootAddr = "{{.zkevm_global_exit_root_l2_address}}"

[Log]
Environment = "development" # "production" or "development"
Level = "{{.global_log_level}}"
Outputs = ["stderr"]
       
[AggSender]
CheckStatusCertificateInterval = "1s"
	[AggSender.MaxSubmitCertificateRate]
		NumRequests = 20
		Interval = "1m"


