name: Test E2E (multi chains)
on: 
  push:
    branches:
      - '**'
  workflow_dispatch: {}

jobs:
  build-aggkit-image:
    name: Build aggkit docker image
    uses: ./.github/workflows/build-aggkit-image.yml
    with:
      go-version: 1.24.x
      docker-image-name: aggkit

  build-tools:
    name: Build aggsender find imported bridge tool
    needs:
      - build-aggkit-image
    runs-on: amd-runner-2204
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x

      - name: Build Aggsender Find Imported Bridge
        run: make build-tools
      
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: aggsender_find_imported_bridge
          path: ./target/aggsender_find_imported_bridge

  read-aggkit-args:
    name: Read aggkit args
    runs-on: ubuntu-latest
    outputs:
      kurtosis-cdk-args-1: ${{ steps.read-args.outputs.args-1 }}
      kurtosis-cdk-args-2: ${{ steps.read-args.outputs.args-2 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read kurtosis-cdk-args from file
        id: read-args
        run: |
          CONTENT=$(cat ./.github/test_e2e_multi_chains_args_1.json | jq -c .)
          echo "args-1=${CONTENT}" >> $GITHUB_OUTPUT
          CONTENT=$(cat ./.github/test_e2e_multi_chains_args_2.json | jq -c .)
          echo "args-2=${CONTENT}" >> $GITHUB_OUTPUT
  
  test-multi-e2e:
    name: Multi chains E2E test
    needs:
      - build-aggkit-image
      - build-tools
      - read-aggkit-args
    uses: agglayer/e2e/.github/workflows/aggkit-e2e-multi-chains.yml@d44297121f75419b0a8b9ee91d43232574d01ed7
    secrets: inherit
    with:
      docker-tag: local
      kurtosis-cdk-ref: arpit/bridge-service 
      docker-artifact-name: aggkit
      agglayer-e2e-ref: d44297121f75419b0a8b9ee91d43232574d01ed7
      kurtosis-cdk-enclave-name: aggkit
      aggsender-find-imported-bridge-artifact: aggsender_find_imported_bridge
      kurtosis-cdk-args-1: ${{ needs.read-aggkit-args.outputs.kurtosis-cdk-args-1 }}
      kurtosis-cdk-args-2: ${{ needs.read-aggkit-args.outputs.kurtosis-cdk-args-2 }}

  check-test-multi-e2e-result:
    name: Check E2E results
    needs:
      - test-multi-e2e
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        if: ${{ contains(fromJSON('["failure", "cancelled"]'), needs.test-multi-e2e.result) }}
